a {
    color: whitesmoke;
    text-decoration: none;
}
a:hover {
    color: red;
}
a:before {
    color: whitesmoke;
}
body {
    background-color: rgb(51, 51, 51);
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    left: 30%;
}
.header {
    position: relative;
    width: 100%;
    height: auto;
    left: 30%;
    padding: 1%;
    border-bottom: 10px;
}

ul {
    list-style: circle;
}
.header img  {
    height: 50px;
    width: auto;
    size: 30px;
}

.header,
ul,
ol,
p,
h1,
h2 {
    position: relative;
    width: 100%;
    height: auto;
    left: 30%;
}