
a {
    color: whitesmoke;
    text-decoration: none;
    position: relative;
    left: 30%;
}
a:hover {
    color: red;
}
a:before {
    color: whitesmoke;
}
body {
    background-color: rgb(51, 51, 51);
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}
.header {
    position: relative;
    width: 100%;
    height: auto;
    left: 30%;
    padding: 1%;
    border-bottom: 10px;
}
.header img {
    position: relative;
    left: 30%;
    width: 400px;
    height: auto;
}